node-red/.flows.json.backup
[{"id":"b9d3d31b.c235d","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"d2229b5.9849b68","type":"tab","label":"REST API","disabled":false,"info":""},{"id":"5d15e1d4.6b6c2","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"7b86f257.e69d7c","type":"tab","label":"Database","disabled":false,"info":""},{"id":"f776d3c6.2114a","type":"mqtt-broker","name":"local broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6e61f9c8.d710e8","type":"openapi-schema","name":"HochbeetAPI","schema":{"openapi":"3.0.0","info":{"title":"Hochbeet Control","description":"The API for interacting with your yummy veggies","version":"1.0.0"},"servers":[{"url":"https://virtserver.swaggerhub.com/tugraz/Hochbeet/1.0.0","description":"SwaggerHub API Auto Mocking"}],"paths":{"/currentstate":{"get":{"tags":["Monitoring"],"description":"Gets current values of garden","operationId":"getCurrentValues","responses":{"200":{"description":"JSON of current values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentValues"}}}}}}},"/weather":{"get":{"tags":["Monitoring"],"description":"returns values","operationId":"getWeather","parameters":[{"name":"resolution","in":"query","description":"hours between data entrys, either 1, 3, 6, 12 or 24","required":false,"style":"form","explode":true,"schema":{"maximum":24,"minimum":1,"type":"integer","format":"int32"}},{"name":"number","in":"query","description":"number of records to return, max of 72","required":false,"style":"form","explode":true,"schema":{"maximum":72,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Weather data as array according to the parameters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WeatherData"}}}}}}}},"/temperature":{"get":{"tags":["Monitoring"],"description":"returns values","operationId":"getTemp","parameters":[{"name":"resolution","in":"query","description":"hours between data entrys, either 1, 3, 6, 12 or 24","required":false,"style":"form","explode":true,"schema":{"maximum":24,"minimum":1,"type":"integer","format":"int32"}},{"name":"number","in":"query","description":"number of records to return, max of 72","required":false,"style":"form","explode":true,"schema":{"maximum":72,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"tempearture data as array according to the parameters","content":{"application/json":{"schema":{"type":"array","items":{"type":"number","format":"float"}}}}}}}},"/airhumid":{"get":{"tags":["Monitoring"],"description":"returns values","operationId":"getAirHumid","parameters":[{"name":"resolution","in":"query","description":"hours between data entrys, either 1, 3, 6, 12 or 24","required":false,"style":"form","explode":true,"schema":{"maximum":24,"minimum":1,"type":"integer","format":"int32"}},{"name":"number","in":"query","description":"number of records to return, max of 72","required":false,"style":"form","explode":true,"schema":{"maximum":72,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"air humidity data as array according to the parameters","content":{"application/json":{"schema":{"type":"array","items":{"type":"number","format":"float"}}}}}}}},"/soilhumid":{"get":{"tags":["Monitoring"],"description":"returns values","operationId":"getSoilHumid","parameters":[{"name":"resolution","in":"query","description":"hours between data entrys, either 1, 3, 6, 12 or 24","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"}},{"name":"number","in":"query","description":"number of records to return, max of 72","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"soil humidity data as array according to the parameters","content":{"application/json":{"schema":{"type":"array","items":{"type":"number","format":"float"}}}}}}}},"/waterlevel":{"get":{"tags":["Monitoring"],"description":"returns values","operationId":"getWaterLevel","responses":{"200":{"description":"water level in percent","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}}}},"/watermanual/{duration}":{"post":{"tags":["Watering"],"description":"sets water pump to on for set amount of time","operationId":"manualWatering","parameters":[{"name":"duration","in":"path","required":true,"style":"simple","explode":false,"schema":{"maximum":20,"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"confirm"}}}},"/waterschedule":{"post":{"tags":["Watering"],"description":"Sets a schedule for watering","operationId":"setWaterSchedule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaterSchedule"}}}},"responses":{"200":{"description":"successfully updated schedule"}}}}},"components":{"schemas":{"WeatherData":{"type":"object","properties":{"date":{"type":"string","format":"date-time","example":"2021-01-30T08:30:00Z"},"clouds":{"type":"integer","description":"percent clouds","format":"int32"},"rain":{"type":"number","description":"rain per hour","format":"float"}}},"WaterSchedule":{"type":"object","properties":{"time1enable":{"type":"boolean"},"starttime1":{"pattern":"^\\d{2}:\\d{2}$","type":"string","format":"time"},"duration1":{"maximum":20,"minimum":1,"type":"integer","format":"int32"},"time2enable":{"type":"boolean"},"starttime2":{"pattern":"^\\d{2}:\\d{2}$","type":"string","format":"time"},"duration2":{"maximum":20,"minimum":1,"type":"integer","format":"int32"},"repeat":{"maximum":7,"minimum":1,"type":"integer","description":"sets intervall for schedule","format":"int32"},"soilhumidthreshold":{"maximum":100,"minimum":1,"type":"integer","format":"int32"}}},"CurrentValues":{"type":"object","properties":{"temperature":{"type":"number","format":"float"},"soilhumid":{"type":"integer","format":"int32"},"airhumid":{"type":"integer","format":"int32"},"weather":{"$ref":"#/components/schemas/WeatherData"}}}}}},"baseURL":"/"},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"f7f39f4e.896ae","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"a55dbf17.502dd","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"[SSD] Hochbeet","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"https://eu-central-1-1.aws.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"340716cc.4a26ca","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"94882f5b.7a466","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2e4080f4.5f62f","type":"ui_group","name":"Wettervorhersage","tab":"94882f5b.7a466","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab3f5cf9.47dd","type":"ui_group","name":"Hochbeet Daten","tab":"94882f5b.7a466","order":2,"disp":true,"width":"6","collapse":false},{"id":"c982fbb8.1deb38","type":"ui_group","name":"hidden_group","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"2590bd21.69d062","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8ef73951.397bc8","type":"inject","z":"b9d3d31b.c235d","name":"make request every hour","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["e82c9a3a.d22aa8","d6c89f3.d115b6"]]},{"id":"e82c9a3a.d22aa8","type":"http request","z":"b9d3d31b.c235d","name":"OpenWeather HTTP Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/onecall?lat=47.0667&lon=15.45&appid=eab44438f47511c5db70679c7b74060a&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":140,"wires":[["7f301e34.57ebf"]]},{"id":"7f301e34.57ebf","type":"json","z":"b9d3d31b.c235d","name":"Parse Json","property":"payload","action":"","pretty":false,"x":870,"y":140,"wires":[["4bbc3c80.e31534","212a67fd.52d828","b275d4cd.7e4ee8","32d4ed1e.44d2d2","d66cd76.08a2628"]]},{"id":"749b4fc7.9a656","type":"comment","z":"b9d3d31b.c235d","name":"current weather forecast request ","info":"","x":230,"y":40,"wires":[]},{"id":"4bbc3c80.e31534","type":"function","z":"b9d3d31b.c235d","name":"check for rain","func":"val = {};\nif(msg.payload.daily[0].weather[0].id < 700)\n{\n    val.payload = \"wet\";\n}\nelse\n{\n    val.payload = \"dry\";\n}\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":140,"wires":[["264b6d82.51bfe2"]]},{"id":"2ad7b22c.b6e61e","type":"comment","z":"b9d3d31b.c235d","name":"returns off/on depending on the need of additional watering","info":"","x":310,"y":80,"wires":[]},{"id":"f5c7bb29.6242b8","type":"ui_text","z":"b9d3d31b.c235d","group":"2e4080f4.5f62f","order":0,"width":0,"height":0,"name":"","label":"Aktuelle Vorhersage:","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":180,"wires":[]},{"id":"212a67fd.52d828","type":"function","z":"b9d3d31b.c235d","name":"return weather forecast for the day","func":"val = {};\nval.payload = msg.payload.daily[0].weather[0].main;\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":180,"wires":[["f5c7bb29.6242b8"]]},{"id":"b275d4cd.7e4ee8","type":"function","z":"b9d3d31b.c235d","name":"return weather forecast description for the day","func":"val = {};\nval.payload = msg.payload.daily[0].weather[0].description\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["5482cf90.65e7a"]]},{"id":"5482cf90.65e7a","type":"ui_text","z":"b9d3d31b.c235d","group":"2e4080f4.5f62f","order":0,"width":0,"height":0,"name":"","label":"Beschreibung: ","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":220,"wires":[]},{"id":"264b6d82.51bfe2","type":"function","z":"b9d3d31b.c235d","name":"store forecast","func":"var rain_forecast = msg.payload;\nglobal.set(\"rain_forecast\", rain_forecast);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":140,"wires":[[]]},{"id":"20cd9ea4.e73de2","type":"openapi-in","z":"d2229b5.9849b68","name":"getCurrentState","schema":"6e61f9c8.d710e8","operation":"getCurrentValues","x":200,"y":200,"wires":[["909788a1.61cfc8"]]},{"id":"29c8585f.738808","type":"openapi-in","z":"d2229b5.9849b68","name":"getTemperature","schema":"6e61f9c8.d710e8","operation":"getTemp","x":200,"y":280,"wires":[["5b2aa0ed.8ae31"]]},{"id":"eb83810.6d3cb8","type":"openapi-in","z":"d2229b5.9849b68","name":"getAirHumid","schema":"6e61f9c8.d710e8","operation":"getAirHumid","x":190,"y":320,"wires":[["9012494d.1f5768"]]},{"id":"3a795c3a.d7e644","type":"openapi-in","z":"d2229b5.9849b68","name":"getSoilHumid","schema":"6e61f9c8.d710e8","operation":"getSoilHumid","x":190,"y":360,"wires":[["b05874ac.c264b8"]]},{"id":"655156a3.bb0098","type":"openapi-in","z":"d2229b5.9849b68","name":"getWaterLevel","schema":"6e61f9c8.d710e8","operation":"getWaterLevel","x":190,"y":400,"wires":[["bd4bf9f9.0ab588"]]},{"id":"909788a1.61cfc8","type":"function","z":"d2229b5.9849b68","name":"function","func":"msg.payload = {\n    BedTemp:    parseFloat(global.get(\"temp_raisedbed\")),\n    BedMoist:   parseFloat(global.get(\"soil_moisture\")),\n    BedHumid:   parseFloat(global.get(\"humidity_air\")),\n    TankLevel:  parseFloat(global.get(\"watertank_level\")),\n    AirTemp:    parseFloat(global.get(\"temp_forecast\")),\n    AirHumid:   parseFloat(global.get(\"humid_forecast\"))\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["e7787640.53aa88"]]},{"id":"57f20cc6.5c3434","type":"openapi-in","z":"d2229b5.9849b68","name":"","schema":"6e61f9c8.d710e8","operation":"getWeather","x":190,"y":240,"wires":[["d13d90c3.9e26e"]]},{"id":"e7787640.53aa88","type":"openapi-out","z":"d2229b5.9849b68","name":"send 200 OK with response","statusCode":"200","fromMessage":false,"x":780,"y":320,"wires":[]},{"id":"d13d90c3.9e26e","type":"function","z":"d2229b5.9849b68","name":"","func":"msg.payload = global.get(\"rain_forecast\");\nif(!msg.payload){\n    msg.payload = \"[Err] No weather data available!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["e7787640.53aa88"]]},{"id":"9012494d.1f5768","type":"function","z":"d2229b5.9849b68","name":"","func":"msg.payload = global.get(\"humidity_air\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["e7787640.53aa88"]]},{"id":"bd4bf9f9.0ab588","type":"function","z":"d2229b5.9849b68","name":"","func":"msg.payload = global.get(\"watertank_level\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["e7787640.53aa88"]]},{"id":"5b2aa0ed.8ae31","type":"function","z":"d2229b5.9849b68","name":"","func":"msg.payload = global.get(\"temp_raisedbed\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["e7787640.53aa88"]]},{"id":"b05874ac.c264b8","type":"function","z":"d2229b5.9849b68","name":"","func":"msg.payload = global.get(\"soil_moisture\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["e7787640.53aa88"]]},{"id":"d3958271.fab1c","type":"function","z":"d2229b5.9849b68","name":"return the set time","func":"msg.payload = \"Duration for manual watering is set to \" + msg.params.duration + \" Minutes\";\nglobal.set(\"water_duration\", msg.params.duration);\nmsg1 = {};\nmsg1.payload =  parseInt(msg.params.duration);\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":440,"wires":[["e7787640.53aa88"],["d63565b4.ccfd98"]]},{"id":"a9400995.725d28","type":"function","z":"d2229b5.9849b68","name":"function","func":"msg.payload = \"Duration for manual watering is set to \" + msg.req.params.mode + \" Minutes\";\n\nglobal.set(\"water_mode\", msg.req.params.mode);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[["b5bf5659.c2c858"]]},{"id":"a524f3c0.3d654","type":"openapi-in","z":"d2229b5.9849b68","name":"postWaterTimer","schema":"6e61f9c8.d710e8","operation":"manualWatering","x":200,"y":440,"wires":[["d3958271.fab1c"]]},{"id":"d63565b4.ccfd98","type":"mqtt out","z":"d2229b5.9849b68","name":"send to /watercontrol","topic":"/hochbeet/tank1/watercontrol","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2590bd21.69d062","x":740,"y":440,"wires":[]},{"id":"7f59f219.11615c","type":"function","z":"5d15e1d4.6b6c2","name":"store soil moisture","func":"var soil_moisture = msg.payload;\nglobal.set(\"soil_moisture\", soil_moisture);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":160,"wires":[[]]},{"id":"af5a780c.be1b98","type":"function","z":"5d15e1d4.6b6c2","name":"store temperature in raised bed","func":"var temp_raisedbed = msg.payload;\nglobal.set(\"temp_raisedbed\", temp_raisedbed);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":280,"wires":[[]]},{"id":"c750c42e.defb58","type":"function","z":"5d15e1d4.6b6c2","name":"store humidity of air","func":"var humidity_air = msg.payload;\nglobal.set(\"humidity_air\", humidity_air);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":400,"wires":[[]]},{"id":"6667c81d.741848","type":"function","z":"5d15e1d4.6b6c2","name":"store watertank level","func":"var watertank_level = msg.payload;\nglobal.set(\"watertank_level\", watertank_level);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":520,"wires":[[]]},{"id":"7ccd6fbc.7798a","type":"mqtt in","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tobi/soilmoisture","qos":"2","datatype":"auto","broker":"2590bd21.69d062","nl":false,"rap":true,"rh":0,"x":370,"y":160,"wires":[["7f59f219.11615c","7f64ac8d.8e11e4","9cc1edfd.672b7"]]},{"id":"be378f49.7c13b","type":"mqtt in","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tobi/temperature","qos":"2","datatype":"auto","broker":"2590bd21.69d062","nl":false,"rap":true,"rh":0,"x":370,"y":280,"wires":[["af5a780c.be1b98","49a3c86d.033ad8","e87eb15f.34e77"]]},{"id":"b1ed8ee6.7c30f","type":"mqtt in","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tobi/airmoisture","qos":"2","datatype":"auto","broker":"2590bd21.69d062","nl":false,"rap":true,"rh":0,"x":370,"y":400,"wires":[["c750c42e.defb58","673df6a4.8dd468","279584a7.2e2f3c"]]},{"id":"6a2106cc.8be038","type":"mqtt in","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tank1/level","qos":"2","datatype":"auto","broker":"2590bd21.69d062","nl":false,"rap":true,"rh":0,"x":370,"y":520,"wires":[["6667c81d.741848","94d01775.07adb8","9efaf2a2.84465"]]},{"id":"8a6fbea3.bc472","type":"inject","z":"5d15e1d4.6b6c2","name":"request every day at 8 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":780,"wires":[["7ecfff3d.839ea"]]},{"id":"7ecfff3d.839ea","type":"function","z":"5d15e1d4.6b6c2","name":"check conditions...","func":"if(global.get(\"rain_forecast\") == \"dry\")\n{\n    msg.delay = global.get(\"water_duration\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":780,"wires":[["26cb7836.dc4598"]]},{"id":"c3c81c6f.0c875","type":"comment","z":"5d15e1d4.6b6c2","name":"Starts watering in dependence on conditions","info":"Starts watering if all conditions are correct (no rain, dry soil, low temperature.....) for a timer of 15 minutes.","x":250,"y":740,"wires":[]},{"id":"e3f4d6be.02e1d8","type":"comment","z":"5d15e1d4.6b6c2","name":"save incomming data","info":"","x":340,"y":40,"wires":[]},{"id":"f4fa71a9.985c4","type":"mqtt out","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tank1/watercontrol","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2590bd21.69d062","x":1620,"y":780,"wires":[]},{"id":"ef99ec1.ba2891","type":"function","z":"5d15e1d4.6b6c2","name":"set timer","func":"return \"15\";","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":780,"wires":[["f4fa71a9.985c4"]]},{"id":"e1346f.363acb9","type":"comment","z":"5d15e1d4.6b6c2","name":"turn on for a predefined amount of minutes","info":"","x":1340,"y":880,"wires":[]},{"id":"7f64ac8d.8e11e4","type":"ui_gauge","z":"5d15e1d4.6b6c2","name":"","group":"ab3f5cf9.47dd","order":0,"width":0,"height":0,"gtype":"gage","title":"Bodenfeuchte","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":120,"wires":[]},{"id":"49a3c86d.033ad8","type":"ui_gauge","z":"5d15e1d4.6b6c2","name":"","group":"ab3f5cf9.47dd","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0011ff","#00ff08","#ca3838"],"seg1":"10","seg2":"30","x":630,"y":240,"wires":[]},{"id":"673df6a4.8dd468","type":"ui_gauge","z":"5d15e1d4.6b6c2","name":"","group":"ab3f5cf9.47dd","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":360,"wires":[]},{"id":"94d01775.07adb8","type":"ui_gauge","z":"5d15e1d4.6b6c2","name":"","group":"ab3f5cf9.47dd","order":0,"width":0,"height":0,"gtype":"gage","title":"Wasser Füllstand","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#cbe600","#3acb4a"],"seg1":"10","seg2":"30","x":650,"y":480,"wires":[]},{"id":"fb8f2c10.c9d8f","type":"ui_template","z":"b9d3d31b.c235d","group":"ab3f5cf9.47dd","name":"Show Time in Dashboard","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":790,"y":280,"wires":[[]]},{"id":"f8c9ec2.9797c1","type":"ui_text","z":"b9d3d31b.c235d","group":"2e4080f4.5f62f","order":0,"width":0,"height":0,"name":"","label":"Letzte Aktualisierung:","format":"{{msg.payload}}","layout":"col-center","x":780,"y":240,"wires":[]},{"id":"d6c89f3.d115b6","type":"moment","z":"b9d3d31b.c235d","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"LLL","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/Berlin","x":540,"y":240,"wires":[["f8c9ec2.9797c1"]]},{"id":"327d8462.08a6bc","type":"inject","z":"5d15e1d4.6b6c2","name":"request status hourly","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1100,"wires":[["db31cc6e.3a245"]]},{"id":"db31cc6e.3a245","type":"mqtt out","z":"5d15e1d4.6b6c2","name":"","topic":"hochbeet/tobi/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2590bd21.69d062","x":410,"y":1100,"wires":[]},{"id":"9cc1edfd.672b7","type":"debug","z":"5d15e1d4.6b6c2","name":"debug soilmoisture","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"e87eb15f.34e77","type":"debug","z":"5d15e1d4.6b6c2","name":"debug temperature","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"279584a7.2e2f3c","type":"debug","z":"5d15e1d4.6b6c2","name":"debug airmoisture","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"9efaf2a2.84465","type":"debug","z":"5d15e1d4.6b6c2","name":"debug tank level","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":640,"y":440,"wires":[]},{"id":"31add312.54452c","type":"comment","z":"5d15e1d4.6b6c2","name":"request bed update every hour","info":"","x":210,"y":1060,"wires":[]},{"id":"8bd25049.7e7a6","type":"inject","z":"7b86f257.e69d7c","name":"hourly updates to database","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":220,"y":100,"wires":[["c2f65af1.501308"]]},{"id":"c2f65af1.501308","type":"function","z":"7b86f257.e69d7c","name":"Prepare Data","func":"msg.payload = {\n    BedTemp:    parseFloat(global.get(\"temp_raisedbed\")),\n    BedMoist:   parseFloat(global.get(\"soil_moisture\")),\n    BedHumid:   parseFloat(global.get(\"humidity_air\")),\n    TankLevel:  parseFloat(global.get(\"watertank_level\")),\n    AirTemp:    parseFloat(global.get(\"temp_forecast\")),\n    AirHumid:   parseFloat(global.get(\"humid_forecast\"))\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":100,"wires":[["c9eac101.d3f37","85397f0b.fa2a1"]]},{"id":"c9eac101.d3f37","type":"influxdb out","z":"7b86f257.e69d7c","influxdb":"a55dbf17.502dd","name":"write to cloud DB","measurement":"Statistics","precision":"","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"fabian.poechmueller@gmail.com","bucket":"[SSD21] Hochbeet","x":650,"y":100,"wires":[],"icon":"node-red/db.svg"},{"id":"7de47eee.73dcc","type":"inject","z":"5d15e1d4.6b6c2","name":"Sample Soil Moisture","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"43.8","payloadType":"num","x":380,"y":120,"wires":[["7f64ac8d.8e11e4","7f59f219.11615c","9cc1edfd.672b7"]]},{"id":"f12f188a.52cbd8","type":"inject","z":"5d15e1d4.6b6c2","name":"Sample Temp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"29.4","payloadType":"num","x":410,"y":240,"wires":[["49a3c86d.033ad8","af5a780c.be1b98","e87eb15f.34e77"]]},{"id":"39d0d16a.fe11ce","type":"inject","z":"5d15e1d4.6b6c2","name":"Sample Humid","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"67.4","payloadType":"num","x":400,"y":360,"wires":[["c750c42e.defb58","673df6a4.8dd468","279584a7.2e2f3c"]]},{"id":"39561fe4.1a0ec","type":"inject","z":"5d15e1d4.6b6c2","name":"Sample Tank Level","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"39","payloadType":"num","x":390,"y":480,"wires":[["94d01775.07adb8","6667c81d.741848","9efaf2a2.84465"]]},{"id":"85397f0b.fa2a1","type":"debug","z":"7b86f257.e69d7c","name":"database output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"32d4ed1e.44d2d2","type":"function","z":"b9d3d31b.c235d","name":"store Air Temp Forecast","func":"var temp_forecast = msg.payload.current.temp;\nglobal.set(\"temp_forecast\", temp_forecast);\nmsg1 = {};\nmsg1.payload=parseFloat(temp_forecast);\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":260,"wires":[["c86addef.e959d"]]},{"id":"d66cd76.08a2628","type":"function","z":"b9d3d31b.c235d","name":"store Air Humid Forecast","func":"var humid_forecast = msg.payload.current.humidity;\nglobal.set(\"humid_forecast\", humid_forecast);\nmsg1 = {};\nmsg1.payload=parseFloat(humid_forecast);\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":300,"wires":[["be5444f6.f21968"]]},{"id":"c86addef.e959d","type":"ui_gauge","z":"b9d3d31b.c235d","name":"","group":"2e4080f4.5f62f","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0011ff","#00ff08","#ca3838"],"seg1":"10","seg2":"30","x":1530,"y":260,"wires":[]},{"id":"be5444f6.f21968","type":"ui_gauge","z":"b9d3d31b.c235d","name":"","group":"2e4080f4.5f62f","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":300,"wires":[]},{"id":"57d3f444.82d8dc","type":"inject","z":"5d15e1d4.6b6c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1230,"y":180,"wires":[["636f033c.f627dc"]]},{"id":"aa904286.847d8","type":"inject","z":"5d15e1d4.6b6c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1250,"y":240,"wires":[["38845fe3.be711"]]},{"id":"636f033c.f627dc","type":"function","z":"5d15e1d4.6b6c2","name":"","func":"if(mode == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":180,"wires":[["7711025a.7dd5ec"]]},{"id":"38845fe3.be711","type":"function","z":"5d15e1d4.6b6c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":240,"wires":[["7711025a.7dd5ec"]]},{"id":"7711025a.7dd5ec","type":"mqtt out","z":"5d15e1d4.6b6c2","name":"","topic":"/hochbeet/tank1/watercontrol","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2590bd21.69d062","x":1740,"y":220,"wires":[]},{"id":"32de88fb.650698","type":"inject","z":"5d15e1d4.6b6c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1240,"y":300,"wires":[["21e8cc11.8c8c44"]]},{"id":"1b616abe.422475","type":"inject","z":"5d15e1d4.6b6c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1260,"y":360,"wires":[["1c22224e.3b112e"]]},{"id":"21e8cc11.8c8c44","type":"function","z":"5d15e1d4.6b6c2","name":"","func":"if(mode == 1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":300,"wires":[["7711025a.7dd5ec"]]},{"id":"1c22224e.3b112e","type":"function","z":"5d15e1d4.6b6c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":360,"wires":[["7711025a.7dd5ec"]]},{"id":"26cb7836.dc4598","type":"function","z":"5d15e1d4.6b6c2","name":"mode 1 selected?","func":"if(global.get(\"water_mode\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":780,"wires":[["ef99ec1.ba2891"]]},{"id":"60c0f8b4.f2be68","type":"inject","z":"5d15e1d4.6b6c2","name":"request MON / WED / FRI / SUN at 8 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,3,5,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":840,"wires":[["196d514.16d1eaf"]]},{"id":"696bec5f.573394","type":"inject","z":"5d15e1d4.6b6c2","name":"request MON / WED / FRI / SUN at 2 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 14 * * 1,3,5,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":900,"wires":[["d43c9825.b70278"]]},{"id":"4f75148e.6c943c","type":"function","z":"5d15e1d4.6b6c2","name":"mode 2 selected?","func":"if(global.get(\"water_mode\") == 2)\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":820,"wires":[["ef99ec1.ba2891"]]},{"id":"c76fb1c3.1b446","type":"function","z":"5d15e1d4.6b6c2","name":"mode 4 selected?","func":"if(global.get(\"water_mode\") == 3)\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":900,"wires":[["ef99ec1.ba2891"]]},{"id":"196d514.16d1eaf","type":"function","z":"5d15e1d4.6b6c2","name":"check conditions...","func":"if(global.get(\"rain_forecast\") == \"dry\")\n{\n    msg.delay = global.get(\"water_duration\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":840,"wires":[["4f75148e.6c943c","997b2a9a.089f68"]]},{"id":"d43c9825.b70278","type":"function","z":"5d15e1d4.6b6c2","name":"check conditions...","func":"if(global.get(\"rain_forecast\") == \"dry\")\n{\n    msg.delay = global.get(\"water_duration\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":900,"wires":[["c76fb1c3.1b446","997b2a9a.089f68"]]},{"id":"997b2a9a.089f68","type":"function","z":"5d15e1d4.6b6c2","name":"mode 3 selected?","func":"if(global.get(\"water_mode\") == 3)\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":860,"wires":[["ef99ec1.ba2891"]]},{"id":"df51f17d.b5457","type":"http in","z":"d2229b5.9849b68","name":"","url":"/waterschedule/:mode","method":"post","upload":false,"swaggerDoc":"","x":240,"y":500,"wires":[["a9400995.725d28","71356b5b.1535e4"]]},{"id":"71356b5b.1535e4","type":"debug","z":"d2229b5.9849b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":540,"wires":[]},{"id":"b5bf5659.c2c858","type":"http response","z":"d2229b5.9849b68","name":"","statusCode":"200","headers":{},"x":620,"y":500,"wires":[]}]